.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100vw;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(300px, 90vw, var(--max-width));
  max-width: var(--max-width);
}


.description {
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
}

.description h2 {
  margin-bottom: 0.5rem;
}

.description a {
  
  align-items: center;
  color: rgba(var(--foreground-rgb),0.7);
  text-decoration: underline dotted;
  padding: 0.5rem 0rem;
  z-index: 6;
}

.description a:hover {
  color: rgba(var(--foreground-rgb), 0.9);

}

.description p {
  margin: 0;  
}

.imageWrapper {
  display: flex;
  width: min-content;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0rem;
}

.header,
.header a {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 2rem;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.2);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: calc(var(--border-radius) + 1rem);
  margin-bottom: 2rem;
}

.inputWrapper input {
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(var(--foreground-rgb), 0.3);
  -webkit-border-radius: 12px;
  border-radius: var(--border-radius);
}

.inputWrapper input:focus {
  outline: 1px solid rgba(var(--foreground-rgb), 1);
}

.inputWrapper input:invalid:focus {
  outline:1px solid red;
  border: 1px solid rgba(var(--error), 0.7);
}
.inputWrapper input:invalid{
  color: rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255,0,0, 0.7);
}

.inputWrapper input:required {
  border: 1px solid rgba(var(--error), 0.7);
}

.inputWrapper input:has(+ span)input {
    border: 1px solid rgba(255,0,0, 0.7);
}

.inputWrapper input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.inputButton {
  font: var(--font-mono);
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 1.75rem;
  margin-top: 1rem;
  color: var(--foreground-rgb);
  cursor: pointer;

  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  background-color: rgba(var(--background-end-rgb), 1)
}

.buttonWrapper button[type=button] {
  background-color: rgba(180, 0,10, 1);
}
.buttonWrapper button[type=button]:hover {
  background-color: rgba(205, 0,1, 0.8);
}

.inputButton:hover {
  background-color: rgba(var(--callout-rgb), 1);
}

.inputWrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}


.inputWrapper span {
  color: rgba(255, 0, 0, 0.7);
  font-size: 0.8rem;
}

.LabelRoot {
  padding-left: 0.3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px dashed rgba(var(--card-border-rgb), 0.2);
  transition: all 200ms, border 200ms;
}
.card:hover {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card span {
  display: inline-block;
  color: rgba(var(--foreground-rgb), 1);
}

.card h2 {
  
  color: rgba(var(--foreground-rgb), 0.6);
  font-weight: 500;
}
.card:hover h2 {
  color: rgba(var(--foreground-rgb), 0.9);
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.unsubmitted {
  transition: all 650ms;
  filter: blur(6px);
}

.submitted {
  transition: all 650ms;
  filter: blur(0);
}

.submitted span {
  animation: alternate;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  

}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    justify-content: left;

    padding-top: 1.5rem;

    padding-bottom: 8rem;
  }
  
  .header {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }

  .content {
    padding: 4rem;
  }

  .inputWrapper {
    flex-direction: column;
    align-items: flex-start;

  }
  .inputWrapper input {
    font-size: 1.15rem;
  }

  .card {
    justify-content: left;
    padding: 1rem 2.5rem;
  }
}


@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
